@model VinylC.Web.MVC.Areas.Private.Models.Ratings.AddRatingVewModel

@using (Ajax.BeginForm("AddRating", "Product",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertBefore,
            UpdateTargetId = "current-rating",
            OnSuccess = "OnAjaxRequestRatingSuccess",
        }))
{
    <div class="list-group-item">

        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.UserId)
        <form class="form-inline" role="form">
            <div class="form-group">
                @Html.DropDownListFor(m => m.Value, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "1"  },
                       new { value = 2 , text = "2" },
                       new { value = 3 , text = "3"},
                       new { value = 4 , text = "4"},
                       new { value = 5 , text = "5"}
                    },
                  "value",
                  "text",
                   2), new { @class = "form-control" })
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Rate" class="btn btn-success text-center full-width" />
            </div>
        </form>
    </div>
}
