
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h1 class="text-center">Let's keep in touch</h1>
    <div class="row">
        <div class="col-md-8 map">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="https://maps.google.com/maps?q=Telerik+Academy&hl=bg&ie=UTF8&z=17&iwloc=&t=k&output=embed"></iframe>
        </div>
        <div class="col-md-4 text-center">
            <h3>Contact Information</h3>
            <p><span class="text-muted">Author:</span> Chavdar Angelov</p>
            <p><span class="text-muted">LinkedIn:</span> <a href="https://bg.linkedin.com/in/chavdar-angelov-919a838a" target="_blank">My Profile</a></p>
            <p><span class="text-muted">Repo:</span> <a href="https://github.com/clangelov/ASP.NET-MVC-Course-Project" target="_blank">Github</a></p>    
            <p><span class="text-muted">Other Projects:</span> <a href="http://best.telerikacademy.com/users/c.l.angelov" target="_blank">At Telerik Academy</a></p>  
        </div>
    </div>
</div>
