@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/bundles/homevideo")
}

<video autoplay="autoplay" id="bgvid" loop="loop" muted>
    <source src="~/Content/Videos/vinyl.mp4" type="video/mp4">
</video>
<div class="jumbotron transparentBlock">
    <h1 id="home-header">Vinyl Community</h1>
    <button id="control-video">Pause Video</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/video")
}
