@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/bundles/homevideo")
}

<video autoplay="autoplay" id="bgvid" loop="loop" muted>
    <source src="~/Content/Videos/vinyl.mp4" type="video/mp4">
</video>
<div class="jumbotron transparentBlock">
    <h1 id="home-header">Vinyl Community</h1>
    <button id="control-video">Pause Video</button>
</div>

<div class="jumbotron transparentBlock">
    <div class="row">
        <div class="col-md-6">
            <div class="panel home-transperent-element">
                <div class="panel-heading text-center">
                    <h2>Most commented Articles</h2>
                </div>
                @{Html.RenderAction("GetArticlesPartial");}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel home-transperent-element">
                <div class="panel-heading text-center">
                    <h2>Top Upcoming Products</h2>
                </div>
                @{Html.RenderAction("GetProductsPartial");}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/video")    
}
