@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/bundles/homevideo")
}

<video autoplay="autoplay" id="bgvid" loop="loop" muted>
    <source src="~/Content/Videos/vinyl.mp4" type="video/mp4">
</video>
<div class="jumbotron transparentBlock">
    <h1>Vinyl Community</h1>
</div>