@model IEnumerable<VinylC.Web.MVC.Areas.Private.Models.Articles.ArticlesCategoriesViewModel>

<div class="list-group list-group">
    <h4 class="">Category</h4>
    @foreach (var item in Model)
    {
        <a href="/Articles/Category/@item.Name"  class="list-group-item"><span class="badge">@item.Count</span>@item.Name</a>
    }    
</div>
