@model IEnumerable<VinylC.Web.MVC.Models.ArticlesCategories.ArticlesCategoriesViewModel>

<div class="list-group list-group">
    <h4 class="">Category</h4>
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item"><span class="badge">@item.Count</span>@item.Name</a>
    }    
</div>
