@using VinylC.Web.MVC.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<VinylC.Web.MVC.Models.Articles.ArticlesListViewModel>
@{
    ViewBag.Title = "All";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderAction("GetCategoriesPartial");}
        </div>
        <div class="col-md-9">
            @Html.Partial("_ArticlesListPartial", Model)
            @Html.Partial("_PagingPartial", Model)
        </div>
    </div>
</div>
