@using VinylC.Web.MVC.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<VinylC.Web.MVC.Models.Articles.ArticlesListViewModel>
@{
    ViewBag.Title = "By Category";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @{Html.RenderAction("GetCategoriesPartial");}
            </div>
            <div class="col-md-9">
                @if (Model.Count == 0)
                {
                    <p class="text-danger text-center">NO RESULTS!</p>
                }
                @if (Model.Count != 0)
                {
                    @Html.Partial("_ArticlesListPartial", Model)
                    @Html.Partial("_PagingPartial", Model)
                }
            </div>
        </div>
    </div>
</section>

