@(Html.Kendo()
    .AutoComplete()
    .Name("search-articles")
    .DataTextField("Title")
    .Filter("contains")
    .MinLength(3)
    .BindTo(Model)
    .Template("<a href='/Articles/Details/#=data.Id#'>#=data.Title#</a>")
    .Placeholder("Search By Title")
)


