@model VinylC.Web.MVC.Models.Comments.CommentsViewModel

<div class="actionBox">
    <ul class="commentList">
        <li>
            <div class="commenterImage">
                <img src=@Model.Avatar />
            </div>
            <div class="commentText">
                <p class="">@Model.Replay</p>
                <span class="date sub-text">Poseted on @Model.PostedOn</span>
                <span class="date sub-text">By @Model.UserName</span>
            </div>
        </li>
    </ul>
</div>

