<div class="jumbotron text-center">
    <h1><span class="text-danger">400</span></h1>
    <h1>THE MUSIC <span class="text-danger">IS</span> REALLY BAD</h1>
    <img src="~/Content/Images/bad-request.jpg" class="img-responsive" />
    <br />
    <h2>
        <a href='/' class="text-info">GO BACK TO THE COMMUNITY</a>
    </h2>
</div>



