<div class="jumbotron text-center">
    <h1><span class="text-danger">500</span></h1>
    <h1>THE DEV <span class="text-danger">WILL FACE</span> THE MUSIC</h1>
    <img src="~/Content/Images/server-error.jpg" class="img-responsive" />
    <br />
    <h2>
        <a href='/' class="text-info">GO BACK TO THE COMMUNITY</a>
    </h2>
</div>



