@model IEnumerable<VinylC.Web.MVC.Areas.Private.Models.Messages.MessageViewModel>

@{
    ViewBag.Title = "_InboxMessagesPartial";
}

@if (Model.Count() > 0)
{
    foreach (var message in Model)
    {
        <div class="list-group-item">
            <div class="alert alert-dismissible alert-info">
                @if (message.IsRead == true)
                {
                    <span class="pull-right label label-default">Seen</span>
                }
                else
                {
                    <span class="pull-right label label-warning">Not Seen</span>

                }
                <p>@Html.Raw(message.Content)</p>
                <p class="text-muted">
                    <span class="glyphicon glyphicon-user"></span> @message.To
                </p>
            </div>
        </div>
    }
}
else
{
    <div class="list-group-item">
        <h3 class="text-info">No messages</h3>
    </div>
}