@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderAction("GetUserProfilePartial");}            
        </div>
        <div class="col-md-9 well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#inbox" target="_self" data-toggle="tab"><span class="glyphicon glyphicon-inbox"></span> Inbox</a></li>
                <li class=""><a href="#sent" target="_self" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Sent</a></li>
            </ul>
            <div class="tab-content">
                <div id="inbox" class="tab-pane active">
                    <div class="list-group">
                        @{Html.RenderAction("GetInboxMessagesPartial");}
                    </div>
                </div>
                <div id="sent" class="tab-pane">
                    <div class="list-group">
                        @{Html.RenderAction("GetOutboxMessagesPartial");}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}